<div class="login-container">
  <p class="login-message"><b>Sign Up</b></p>
  <p class="login-message">Please Sign up to Continue</p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Name" class="login-input" />
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
        <span *ngIf="name?.errors?.['required']">Name is required.</span>
      </div>
  
      <input type="text" formControlName="email" placeholder="Email Address" class="login-input" />
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
        <span *ngIf="email?.errors?.['email']">Email must be in correct format.</span>
      </div>
  
      <input type="number" formControlName="mobile" placeholder="Mobile Number" class="login-input" />
      <div *ngIf="mobile?.invalid && (mobile?.dirty || mobile?.touched)" class="error-message">
        <span *ngIf="mobile?.errors?.['required']">Mobile No. is required.</span>
        <span *ngIf="mobile?.errors?.['minlength']">Mobile No must be 10 digits.</span>
      </div>

      <input type="password" formControlName="password" placeholder="Password" class="login-input" />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
        <span *ngIf="password?.errors?.['required']">Password is required.</span>
        <span *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters.</span>
      </div>
  
      <input type="password" formControlName="cpassword" placeholder="Confirm Password" class="login-input" />
      <div *ngIf="cpassword?.invalid && (cpassword?.dirty || cpassword?.touched)" class="error-message">
        <span *ngIf="cpassword?.errors?.['required']">Password is required.</span>
        <span *ngIf="cpassword?.errors?.['minlength']">Password must be at least 8 characters.</span>
      </div>
      <div *ngIf="signupForm.hasError('passwordMismatch') && cpassword?.touched" class="error-message">
        Passwords do not match.
      </div>    
  
      <button type="submit" class="login-button" (submit)="onSubmit()">Sign Up</button>
    </form>
  
  <p class="signup-text">Already Have an account?  <a class="signup" [routerLink]="'/login'"> Sign In </a></p>
</div>

<!-- <div class="footer-top"></div>
<div class="footer-bottom"></div> -->