<ion-header>
  <ion-toolbar>
    <ion-title>Project Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="donate-container">
    <div class="project-header">
      <h2>Chinnavedampatti Lake</h2>
      <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
    </div>

    <img src="assets/Chinnavedampatti Lake.png" alt="Project Image" class="main-image" />

    <div class="project-details">
      <h3>Chinnavedampatti Lake</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <p class="contact">
        <ion-icon name="call-outline"></ion-icon> +91 9876543210
        <ion-icon name="mail-outline"></ion-icon> info&#64;gmail.com
      </p>
    </div>

    <h4>Lake Photos</h4>
    <div class="lake-photos">
      <img src="assets/Chinnavedampatti Lake.png" alt="Lake Photo" />
      <img src="assets/Chinnavedampatti Lake.png" alt="Lake Photo" />
      <img src="assets/Chinnavedampatti Lake.png" alt="Lake Photo" />
    </div>

    <ion-button expand="full" class="donate-btn">Donate</ion-button>
  </div>
</ion-content>
